:root{
    --buttons-color: linear-gradient(120deg, #0B20D8 18%, #70318D 55%, #A13E69 77%, #D35A41 100%);
}
body{
    padding-top: 2vh ;
    color: #ffff;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: 
    linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(/img/Imagem-de-fundo/site_71.webp);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family: Kanit, sans-serif;
    padding-right: 5vw;
}
.menu-burguer{
    display: none;
}
.barra-de-pesquisa{
    display: none;
}
header{
    width: 100vw;
    padding-right: 5vw;
    display: flex;
    justify-content:  right;
    color: #ffff;
    gap: 56px;
}
header nav{
    display: flex;
    gap: 70px;
}
header span{
    width: 88px;
    font-size: 20px;
}
main{
    flex-grow: 1;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.container h1{
    padding-right: 5vw;
    width: 100vw;
    font-size: 96px;
    display: flex;
    justify-content: right;
}
.container ul{
    display: flex;
    justify-content: right;
    gap: 40px;
    list-style: none;
    margin-bottom: 51px;
}
.container ul li{
    background-color: #0D083A;
    font-size: 20px;
    border-radius: 50px;
    width: 141px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.container h6{
    width: 100%;
    display: flex;
    justify-content: right;
    font-size: 15px;
    color: #484758;
}
.text{
    margin-top: 40px;
    display: flex;
    justify-content: right;
    
}
.text p{
    width: 60vw;
    font-size: x-large;
    text-align: right;
    color: #B3B3C4;
}
.container2{
    display: flex;
    flex-direction: column;
   
}
.container2 span{
    display: flex;
    justify-content: flex-end;
    font-size: 96px;
}
.container2 p{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: #484758;
}
.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5vh auto 0;
    gap: 2vw;
    width: right;
    max-width: 100vw;
}
.button span {
    background:var(--buttons-color);
    border-radius: 100px;
    width: 218px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.button img{
    margin-left: 20px;
}
footer{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 90px;
}
.guia1, .guia2, .guia3{
    width: 93px;
    height: 0.1px;
    background-color: #ffff;
}
/*Tablet*/
@media (max-width: 1024px){
    body{
        padding-left: 50px;
    }
    header{
        align-items: center;
    }
    header span{
        width: 70px;
        font-size: 16px;
    }
    .container ul{
        justify-content: flex-start;
    }
    .container h6{
        justify-content: flex-start;
        color: #B3B3C4;
    }
    .text{
        justify-content: left;

    }
    .text p{
        text-align: left;
        font-size: 16px;
    }
    .button{
        margin: 20vh auto;
        justify-content: space-between;
    }
    .container2 span{
        justify-content: left;
    }
    .container2 p{
        justify-content: left;
        color: #B3B3C4;
    }
}
/*mobile*/
@media (max-width:480px){
    .lupa{
        display: none;
    }
    .text{
        display: none;
    }
    .container ul{
        display: none;
    }
    header nav{
        display: none;
    }
    footer{
        display: none;
    }

    body{
        padding: 3vh 5vw;
        max-width: 100vw;
    }
    header{
        width: 100%;
        padding: 5px 5vw;
        display: flex;
        justify-content: space-between;
        gap: 2px;
    }
    .barra-de-pesquisa{
        align-self:center;
    }
    header img{
        max-height: 36px;
    }
    .menu-burguer{
        margin-top: 5px;
        display: block;
        left: 5vw;
        top: 3vh;
    }
    .barra-de-pesquisa{
        display: flex;
    }
    .container{
        margin-top: 10vh;
    }
    .container h1{
        font-size: 30px;
        justify-content: left;
    }
    .container h6{
        font-size: 12px;
        justify-content: left;
        color: #ffff;
    }  
    .container2{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
    }  
    .container2 span{
        font-size: 24px;
        justify-content: left;
    }
    .container2 p{
        color: #ffff;
        justify-content: left;
        font-size: 10px;
    }
    .button{
        flex-direction: column;
        height: 90px;
        width: auto;
        max-width: none;
        margin: 45vh auto;
        align-items: center;
        gap: 5px;
        
    }
    .button img{
        height: 35px;
        width: 35px;
    }
}  
